body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(18, 18, 18);
    color: rgb(255, 71, 166);
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;

}

.full{

    width: 100%;
}
input{
    
    display: none;
}
label{
    display: block;
    padding-left: 38%;
    font-size: 5rem;

    background: linear-gradient(black, rgb(59, 59, 59) 22%,rgb(98, 98, 98) 28%,rgb(59, 59, 59) 32%,black 50%);

}
label:hover{
    background: linear-gradient(rgb(59, 59, 59), rgb(98, 98, 98) 22%,rgb(130, 130, 130) 28%,rgb(98, 98, 98) 32%,rgb(59, 59, 59) 50%);
 
}
#map {
    height: 500px;
    width: 100%;
}